<template>
  <md-list>
    <user-info :user-name="userName"></user-info>
  </md-list>
</template>

<script>
import userInfo from '../commons/user-info.vue'

export default {
  props: {
    userName: String
  },
  components: {
    'user-info': userInfo
  },
}
</script>
