<template>
  <md-list-item>
    <md-avatar class="md-avatar-icon md-big md-accent">
      <md-icon class="md-size-1x">account_circle</md-icon>
    </md-avatar>
    <span class="md-list-item-text md-title">{{ userName }}</span>
    <md-button class="md-icon-button md-list-action" @click="exitCallback">
      <md-icon class="md-primary">exit_to_app</md-icon>
    </md-button>
  </md-list-item>
</template>

<script>
export default {
  props: {
    userName: {
      type: String,
      default: 'user'
    },
    exitCallback: {
      type: Function,
      default: () => {}
    }
  },
}
</script>
