<template>
<md-app md-waterfall md-mode="fixed">
  <md-app-toolbar class="md-accent">
    <md-button id="menu-button" class="md-icon-button" @click="menuVisible = !menuVisible">
      <md-icon>menu</md-icon>
    </md-button>
    <span class="md-title">EStore</span>
  </md-app-toolbar>

  <md-app-drawer :md-active.sync="menuVisible" :md-swipeable="true" md-permanent="full">
    <md-list>
      <!-- Basic infomation -->
      <md-list-item class="">
        <md-avatar class="md-avatar-icon md-big md-accent">
          <md-icon class="md-size-1x">account_circle</md-icon>
        </md-avatar>
        <span class="md-list-item-text md-title">Zach Lim</span>
        <md-button class="md-icon-button md-list-action">
          <md-icon class="md-primary">exit_to_app</md-icon>
        </md-button>
      </md-list-item>

      <md-list-item to="/shopkeeper-page/supplier-manager">
        供应商管理
      </md-list-item>

      <md-list-item to="/shopkeeper-page/goods-manager">
        商品管理
      </md-list-item>

      <md-list-item to="/shopkeeper-page/cashier-manager">
        收银员管理
      </md-list-item>

      <md-list-item to="/shopkeeper-page/transaction-manager">
        订单管理
      </md-list-item>

    </md-list>
  </md-app-drawer>

  <md-app-content>
    <router-view name="manager"></router-view>
  </md-app-content>

</md-app>
</template>

<script>
export default {
  data: () => ({
    menuVisible: false,
  })
}
</script>

<style>
@media screen and (min-width:600px) {
  #menu-button {display:none;}
}
.md-app {
  position: absolute !important;
  top: 0 !important; bottom: 0 !important;
  left: 0 !important; right: 0 !important;
}
</style>
